.App {
  display: grid;
  text-align: center;
}


.game-board{
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  justify-content: center;
  align-items: center;

  
}

.box{
  border: 1px solid black;
  width: 10vw;
  height: 10vw;
  display: flex;  
  justify-content: center;
  align-items: center;
  cursor: pointer;
}