.App {
  display: grid;
  text-align: center;
}


.game-board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  
}